.btn-indice:hover {
    background-color: white;
    border: #080808 2px solid;
    color: #8011F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

.btn-azul:hover {
    background-color: white;
    border: #360369 2px solid;
    color: #2e025a;
    }

.btn-form:hover {
    background-color: white;
    color: #8011F2;
    border: 2px solid #8011F2;
    }
